@import "../../styles/colors.module.scss";

.banner {
  display: flex;
  align-items: center;
  padding: 20px 0 24px 0;
  background-color: transparent;
  width: 100%;
  border-bottom: 2px solid $semi-transparent-border-color;

  &__logo {
    margin-left: 130px;
    height: 36px;
    margin-right: 75px;
  }

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $light-text-color;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    font-family: "Inter";
    cursor: pointer;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      left: -15px;
      top: 50%;
      transform: translateY(-50%);
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $light-text-color;
      visibility: hidden;
    }

    &:hover {
      opacity: 0.8;
    }

    &__active {
      &::before {
        visibility: visible;
      }
    }
  }
}
